env_variables:
  # Shared
  ENV: "PRODUCTION"
  PROJECT: "DEFAULT"
  DEBUG: "False"
  OPENAI_API_KEY: "..."
  OPENAI_MODEL: "..."
  CHARTGPT_API_KEY: "..."
  CHARTGPT_API_HOST: "https://localhost:8081"
  
  # Streamlit App
  DISPLAY_USER_UPDATES: "False"
  MAINTENANCE_MODE: "False"
  JWT_SECRET_KEY: "..."
  DEFAULT_MODEL_TEMPERATURE: "0.0"
  
  # API
  MONGODB_URL: "mongodb://127.0.0.1/api?retryWrites=true&w=majority"

  # Infrastructure
  CLOUDFLARE_API_TOKEN: "..."
